<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS demo</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/font-awesome.css">
</head>
<body id="app">
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-right">
							<a href="/vuejs/notes.html" class="btn btn-default text-right"><i class="fa fa-sticky-note-o"></i>&nbsp; Notas</a>
							<a href="/vuejs/bpm.html" class="btn btn-default text-right"><i class="fa fa-volume-up"></i>&nbsp; Calculadora BPM</a>
						</div>
						<template v-if="name">
							<h1>{{ gender == 'm' ? 'Bienvenido' : 'Bienvenida' }} {{ name }}</h1>
							<p>Esperamos que disfrutes tu visita</p>
						</template>
						<template v-if="!name || !age">
							<ul class="alert alert-danger">
								<li v-if="!name">El campo nombre es obligatorio</li>
								<li v-if="!age">El campo edad es obligatorio</li>
							</ul>
							<p>Por favor ingresa tu nombre...</p>
						</template>
						
						<form @submit.prevent="signUp(false)">
							<div class="form-group" :class="{'has-error': name == ''}">
								<label for="name" class="control-label">Nombre</label>
								<input v-model="name" type="text" placeholder="Nombre..." class="form-control">
							</div>
							<div class="form-group" :class="{'has-error': age == ''}">
								<label for="age" class="control-label">Edad</label>
								<input v-model="age" placeholder="Edad..." class="form-control" number>
							</div>
							<div class="form-group">
								<label for="radios">Genero</label>
								<div class="radio">
									<label>
										<input v-model="gender" type="radio" value="m">
										Masculino
									</label>
								</div>
								<div class="radio">
									<label>
										<input v-model="gender" type="radio" value="f">
										Femenino
									</label>
								</div>
							</div>
							<hr>
							<h4>Nueva tecnologia</h4>
							<div class="form-group">
								<label for="name">Nombre de la tecnologia:</label>
								<input type="text" id="name" v-model="new_tech.name" class="form-control">
							</div>
							<div class="form-group">
								<button @click.prevent="createTech" type="button" class="btn btn-primary">Agregar tecnologia</button>
							</div>
							<hr>
							<h3>Tecnologias</h3>
							<years-exp v-for="techno in techs" :years.sync="techno.years" :tech="techno.name"></years-exp>

							<template id="years-template">
								<label for="name" class="control-label">¿Cuantos años tienes programando en {{ tech }}?</label>
								<div class="form-group">
									Respuesta: <strong>{{ years }}</strong>
									<button @click="add" type="button" 
										:class="{btn: true, 'btn-primary': true, 'btn-success': years > 4}">+</button>
									
									<button @click="sub" :disabled="years == 0" type="button" 
										:class="{btn:true, 'btn-primary':true, 'btn-danger': years == 0}">-</button>
								</div>
							</template>
							
							<div class="form-group">
								<p v-show="name">
									<button type="submit" class="btn btn-primary">Regístrate</button>
									<button @click="signUp(true)" type="button" class="btn btn-success">Regístrate y salir del sistema</button>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<pre>{{ $data | json }}</pre>
			</div>
		</div>
	</div>
	
	<script src="assets/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script>
		Vue.component('years-exp', {
			template: "#years-template",
			methods: {
				add: function() {
					this.years++;
				},
				sub: function() {
					if (this.years > 0) {
						this.years--;
					}
				}
			},
			props: ['tech', 'years']
		});
		
		new Vue({
			el: "#app",
			data: {
				name: "Rafael",
				age: 23,
				gender: "m",
				new_tech: {name: "", years: 0},
				techs: [
					{ name: "PHP", years: 0 },
					{ name: "JS", years: 0 },
				]
			},
			methods: {
				signUp: function(logout) {
					alert(this.name + ', por favor espera mientras se lleva a cabo el registro.');
					if (logout) {
						alert('Saliendo del sistema...');
					}
				},
				createTech: function() {
					if (this.new_tech.name.trim() === "") {
						this.new_tech.name = "";
						alert('La tecnologia que tratas de agregar no tiene nombre');
						return false;
					}
					this.techs.push(this.new_tech);
					this.new_tech = {name: "", years: 0};
				}
			}
		});
	</script>
</body>
</html>