<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS notes</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/font-awesome.css">
	<style type="text/css" media="screen">
		.favorite {
			color: #EFEF3E;
		}
	</style>
</head>
<body id="app">
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<a href="/vuejs" class="btn btn-default pull-right"><i class="fa fa-home"></i></a>
						<h2>Frases celebres VueJS</h2>
						<form @submit.prevent="createNote">
							<div class="form-group">
								<label for="author">Autor:</label>
								<input v-model="new_note.author" id="author" type="text" class="form-control"></input>
							</div>
							<div class="form-group">
								<label for="text">Contenido de la nota:</label>
								<textarea v-model="new_note.text" id="text" class="form-control"></textarea>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Crear nueva nota</button>
							</div>
							<div class="form-group">
								<h4>Mis notas:</h4>
								<ol>
									<li v-for="note in notes" :class="{'text-primary': note.favorite}">
										{{ note.text }} <b>{{ note.author }}</b>
										<button type="button" class="btn btn-xs btn-default" @click.prevent="favorite(note)">
											<i :class="{ fa:true, 'fa-star-o':!note.favorite, 'fa-star':note.favorite, favorite:note.favorite }"></i>
										</button>
									</li>
								</ol>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<pre>{{ $data | json }}</pre>
	</div>
	
	<script src="assets/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script>
		new Vue({
			el: "#app",
			data: {
				notes: [
					{
						author: 'Aristóteles', 
						text: 'El ignorante afirma, el sabio duda y reflexiona.',
						favorite: false
					},
					{
						author: 'Proverbio Chino', 
						text: 'El sabio puede sentarse en un hormiguero, pero sólo el necio se queda sentado en él.',
						favorite: false
					},
					{
						author: 'Isaac Newton', 
						text: 'Lo que sabemos es una gota de agua; lo que ignoramos es el océano.',
						favorite: true
					},
					{
						author: ' Immanuel Kant', 
						text: 'El sabio puede cambiar de opinión. El necio, nunca.',
						favorite: false
					}
				],
				new_note: { author: "", text: "", favorite:false }
			},
			methods: {
				createNote: function() {
					this.notes.push(this.new_note);

					this.new_note = { author: "", text: "", favorite:false };
				},
				favorite: function(note) {
					note.favorite = !note.favorite;
				}
			}
		});
	</script>
</body>
</html>